<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect from www subdomain">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$"/>
					</conditions>
					<action type="Redirect" url="http://chadly.net/{R:0}" redirectType="Permanent"/>
				</rule>
				<rule name="Redirect from azure alias">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^chadlynet.azurewebsites.net$"/>
					</conditions>
					<action type="Redirect" url="http://chadly.net/{R:0}" redirectType="Permanent"/>
				</rule>
				<rule name="Redirect from resume subdomain">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^resume.chadly.net$"/>
					</conditions>
					<action type="Redirect" url="http://chadly.net/resume/" redirectType="Permanent"/>
				</rule>
				<rule name="Add trailing slash">
					<match url="(.*[^/])$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
						<add input="{REQUEST_FILENAME}" pattern="(.*?)\.xml$" negate="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="{R:1}/" />
				</rule>

				<rule name="old_posts_1">
					<match url="^post/2009/10/30/Creating-NHibernate-Linq-Query-from-arbitrary-Criteria.aspx"/>
					<action type="Redirect" url="2009/10/creating-nhibernate-linq-query-from-arbitrary-criteria/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_1a">
					<match url="^creating-nhibernate-linq-query-from-arbitrary-criteria/"/>
					<action type="Redirect" url="2009/10/creating-nhibernate-linq-query-from-arbitrary-criteria/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_2">
					<match url="^post/2009/08/26/The-Many-Pitfalls-of-NHibernateLinq.aspx"/>
					<action type="Redirect" url="2009/08/the-many-pitfalls-of-nhibernate-linq/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_2a">
					<match url="^the-many-pitfalls-of-nhibernate-linq/"/>
					<action type="Redirect" url="2009/08/the-many-pitfalls-of-nhibernate-linq/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_3">
					<match url="^post/2009/07/27/NHibernateLinq-10-is-out-and-about.aspx"/>
					<action type="Redirect" url="2009/07/nhibernate-linq-1-0-is-out-and-about/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_3a">
					<match url="^nhibernate-linq-1-0-is-out-and-about/"/>
					<action type="Redirect" url="2009/07/nhibernate-linq-1-0-is-out-and-about/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_4">
					<match url="^post/2009/07/09/we-make-shitty-software-and-so-do-you.aspx"/>
					<action type="Redirect" url="2009/07/we-make-shitty-software-and-so-do-you/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_4a">
					<match url="^we-make-shitty-software-and-so-do-you/"/>
					<action type="Redirect" url="2009/07/we-make-shitty-software-and-so-do-you/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_5">
					<match url="^post/2009/05/28/Dependency-Injection-with-NHibernate-and-Autofac.aspx"/>
					<action type="Redirect" url="2009/05/dependency-injection-with-nhibernate-and-autofac/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_5a">
					<match url="^dependency-injection-with-nhibernate-and-autofac/"/>
					<action type="Redirect" url="2009/05/dependency-injection-with-nhibernate-and-autofac/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_6">
					<match url="^post/2009/04/20/BDD-with-xUnit.aspx"/>
					<action type="Redirect" url="2009/04/bdd-with-xunit-net/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_6a">
					<match url="^bdd-with-xunit-net/"/>
					<action type="Redirect" url="2009/04/bdd-with-xunit-net/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_7">
					<match url="^post/2009/04/13/Tortoise-SVN-Settings-for-Beyond-Compare-3.aspx"/>
					<action type="Redirect" url="2009/04/tortoise-svn-settings-for-beyond-compare-3/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_7a">
					<match url="^tortoise-svn-settings-for-beyond-compare-3/"/>
					<action type="Redirect" url="2009/04/tortoise-svn-settings-for-beyond-compare-3/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_8">
					<match url="^post/2009/03/29/Developing-with-Passion.aspx"/>
					<action type="Redirect" url="2009/03/developing-with-passion/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_8a">
					<match url="^developing-with-passion/"/>
					<action type="Redirect" url="2009/03/developing-with-passion/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_9">
					<match url="^post/2009/03/14/AspNet-MVC-and-Sealed-Classes.aspx"/>
					<action type="Redirect" url="2009/03/asp-net-mvc-and-sealed-classes/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_9a">
					<match url="^asp-net-mvc-and-sealed-classes/"/>
					<action type="Redirect" url="2009/03/asp-net-mvc-and-sealed-classes/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_10">
					<match url="^post/2009/03/10/Custom-MonorailHttpHandlerFactory-to-handle-404s-gracefully.aspx"/>
					<action type="Redirect" url="2009/03/custom-monorailhttphandlerfactory-to-handle-404s-gracefully/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_10a">
					<match url="^custom-monorailhttphandlerfactory-to-handle-404s-gracefully/"/>
					<action type="Redirect" url="2009/03/custom-monorailhttphandlerfactory-to-handle-404s-gracefully/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_11">
					<match url="^post/2009/03/09/Its-Tough-Times-Out-There.aspx"/>
					<action type="Redirect" url="2009/03/its-tough-times-out-there/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_11a">
					<match url="^its-tough-times-out-there/"/>
					<action type="Redirect" url="2009/03/its-tough-times-out-there/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_12">
					<match url="^post/2009/02/01/Agile-Software-Development-from-a-Business-Perspective.aspx"/>
					<action type="Redirect" url="2009/02/agile-software-development/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_12a">
					<match url="^agile-software-development-from-a-business-perspective/"/>
					<action type="Redirect" url="2009/02/agile-software-development/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_13">
					<match url="^post/2009/01/29/Lightbox-for-YouTube-Videos.aspx"/>
					<action type="Redirect" url="2009/01/lightbox-for-youtube-videos/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_13a">
					<match url="^lightbox-for-youtube-videos/"/>
					<action type="Redirect" url="2009/01/lightbox-for-youtube-videos/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_13_demos">
					<match url="^demos/video-lightbox.html"/>
					<action type="Redirect" url="2009/01/lightbox-for-youtube-videos/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_14">
					<match url="^post/2009/01/25/Hello-Universe.aspx"/>
					<action type="Redirect" url="2009/01/hello-universe/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_14a">
					<match url="^hello-universe/"/>
					<action type="Redirect" url="2009/01/hello-universe/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_15">
					<match url="^lazy-loading-an-observable-array-with-knockout-js/"/>
					<action type="Redirect" url="2012/09/lazy-loading-an-observable-array-with-knockout-js/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_16">
					<match url="^2012/08/the-wonderful-world-of-git/"/>
					<action type="Redirect" url="2012/08/what-you-get-with-git/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_16a">
					<match url="^what-you-get-with-git/"/>
					<action type="Redirect" url="2012/08/what-you-get-with-git/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_17">
					<match url="^user-experience-matters-more-than-you-think/"/>
					<action type="Redirect" url="2013/10/user-experience-matters-more-than-you-think/" redirectType="Permanent"/>
				</rule>
				<rule name="old_posts_18">
					<match url="^a-poor-mans-transclude-in-knockout-js/"/>
					<action type="Redirect" url="2013/12/a-poor-mans-transclude-in-knockout-js/" redirectType="Permanent"/>
				</rule>

				<rule name="old_rss">
					<match url="rss/"/>
					<action type="Redirect" url="feed.xml" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>