body {
	background-color: var(--bg);

	-webkit-font-smoothing: antialiased;

	--bg: #282c35;
	--header: #ffffff;
	--textNormal: rgba(255, 255, 255, 0.88);
	--textMuted: 255, 255, 256, 0.60);
	--textTitle: #ffffff;
	--textLink: #97ff10;
	--hr: hsla(0, 0%, 100%, 0.2);
}
