{{> header}}

<header class="project">
	<h2>{{page.title}}</h2>
	{{{page.html}}}
</header>

<section class="project-list">
	{{#projects contents}}
	<article class="project">
		<a href="{{metadata.link}}">
			<h3>{{title}}</h3>
			{{#if metadata.screenshot}}
			<img src="/projects/{{metadata.screenshot}}" alt="{{title}}" />
			{{/if}}
		</a>

		<span class="project-role">
			<i class="fa fa-user"></i>
			{{metadata.role}}
		</span>

		<section class="project-description">
			{{{html}}}
		</section>
	</article>
	{{/projects}}
</section>

{{> footer}}