<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect from www subdomain">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$"/>
					</conditions>
					<action type="Redirect" url="{{url}}/{R:0}" redirectType="Permanent"/>
				</rule>

				<rule name="Redirect from azure alias">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^chadlynet.azurewebsites.net$"/>
					</conditions>
					<action type="Redirect" url="{{url}}/{R:0}" redirectType="Permanent"/>
				</rule>

				<rule name="Redirect from resume subdomain">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^resume.chadly.net$"/>
					</conditions>
					<action type="Redirect" url="{{url}}/resume/" redirectType="Permanent"/>
				</rule>

				<rule name="Add trailing slash">
					<match url="(.*[^/])$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
						<add input="{REQUEST_FILENAME}" pattern="(.*?)\.xml$" negate="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="{R:1}/" />
				</rule>

				<rule name="old_rss">
					<match url="^rss/"/>
					<action type="Redirect" url="feed.xml" redirectType="Permanent"/>
				</rule>

				<rule name="old_paged_content">
					<match url="^page/"/>
					<action type="Redirect" url="/" appendQueryString="false" redirectType="Permanent"/>
				</rule>

				{{#posts contents}}
				{{#each metadata.redirects}}
				<rule name="old-posts-{{slugify ../this}}-{{@index}}">
					<match url="^{{unslash this}}" />
					<action type="Redirect" url="{{unslash ../url}}" redirectType="Permanent" />
				</rule>
				{{/each}}
				{{/posts}}
			</rules>
		</rewrite>
	</system.webServer>
</configuration>